@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  font-family: 'Arial';
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav{
  flex: 1;
  text-align: center;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
nav a:hover{
  background-color: #03f8fc; /* when the user hovers over any of the buttons on the navigation the background colour will change to red    */
  color: #; /* when the user hovers over any of the buttons on the navigation the font colour will change to white   */
}

a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.row h1 {
  font-family: 'Roboto';
  background-color: lightblue;

}
.row h2{
  font-family: 'Roboto';

}
.row1 h1{
    font-family: 'Roboto';
    text-decoration: underline;
    font-size: 30px;
}
.row1 h2{
    font-family: 'Roboto';
}
.row2 h1{
  font-family: 'Roboto';
  text-decoration: underline;
  font-size: 30px;
}
.row2 h3{
  font-family: 'Roboto';
}
.row2 p{
  text-decoration: underline;
}
.row2 ul li{
  font-family: 'Roboto';
}
.row3 h2{
  font-family: 'Roboto';
  font-size: 30px;
}
.row3 label{
  font-family: 'Roboto';
}
.row4 h2{
  font-family: 'Roboto';
  text-decoration: underline;
  font-size: 30px;
}
.row4 h3{
  font-family: 'Roboto';
}
.row4 p{
  text-decoration: underline;
}
.row4 ul li{
  font-family: 'Roboto';
}
.row5{
  font-family:'Roboto';
}
.row6 h2{
  font-family: 'Roboto';
  font-size: 30px;
  text-decoration: underline;
}
.row6 h3{
  font-family: 'Roboto';
}
.row7{
  font-family: 'Roboto';
}




.row1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.row2{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row3{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}
.row4{
  display: flex;
  align-items:  flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row5{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;


}
.row6{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;

}
.row7{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;

}



.col-2{
  flex-basis: 50px;
  min-width: 500px;
  display:inline-block;
  background-color: lightblue;

  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

.col-2 h1{

}
/*
.boxed {
  border: 15px solid #03f8fc;

}*/


.header{
  background: #faf7f2;
}
.header .row{
  margin-top: 70px;
}
.row3 button{
  background-color: #edcf21;
  border-radius: 20px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.row5 button{
  background-color: #edcf21;
  border-radius: 20px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.row7 button{
  background-color: #edcf21;
  border-radius: 20px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
